<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>Sam I Am</h1>
    <p>Hey there, my name's Sam. I'm a recent college grad currently living in Portland, Oregon. My good days are filled with reading, stretching, singing, laughing, eating, napping, climbing, and sitting. I'm a gemini. I'm a musician. I'm a traveler. I started this blog to help me become more comfortable with my writing. I don't intend to advertise or promote what I create. Journaling in this form is a step out of my comfort zone. It keeps me energized and attentive while chipping away at residual fear. This blog also serves as a progress log for all of my projects (not yet added) and a way to keep track of what I've learned from them. Anyway, enjoy what's here. I'll try to keep it as genuine as possible.</p>
  </div>
</div>
