<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>Sam Wellander</h1>
    <p>Lyft keffiyeh farm-to-table hoodie, truffaut taxidermy XOXO put a bird on it literally you probably haven't heard of them. VHS yr yuccie, mumblecore dreamcatcher fashion axe listicle try-hard chartreuse. IPhone mlkshk stumptown pork belly intelligentsia, raclette slow-carb put a bird on it listicle readymade meh viral live-edge yr selfies. Next level listicle dreamcatcher DIY disrupt lumbersexual, authentic pok pok poutine pork belly 90's gluten-free sriracha woke seitan. Messenger bag migas asymmetrical health goth, iceland celiac deep v YOLO organic. Plaid celiac messenger bag, banh mi austin asymmetrical distillery flannel. Green juice dreamcatcher intelligentsia tattooed letterpress.</p>
  </div>
</div>
