<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>Sam I Am</h1>
    <p>Hey there, my name's Sam. I'm a recent college grad currently living in Portland, Oregon. On good days my activities include, but are by no means limited to, coding, stretching, singing, reading, climbing and surfing. Thanks for checking out my little blog project! Ruby and Rails are pretty fun, I will say.</p>
  </div>
</div>
